/* *{
    box-sizing: border-box;
} */

body{
    background-color: rgb(96, 160, 168); /*this is the sea color*/
}

.gameContainer{
    background-color: rgb(96, 160, 168);    
    height: 640px;  /* should match js ---->gameImagesAreaWidth*/
    width: 1440px; /* should match js ---->gameImagesAreaWidth*/
    margin: 0 auto;
    position: relative;     
    image-rendering: pixelated;

    /* transform: scale(2) translateY(25%); */
}


#gameDisplayLayer0{
    background-color: rgb(96, 160, 168);
    border: solid 1px rgb(32, 233, 32);
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 0;  
}

#gameDisplayLayer1{
    
    border: solid 1px rgb(238, 238, 238);
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 1;
}

#gameDisplayLayer2{
    
    border: solid 1px rgb(233, 9, 166);
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 2;
} 

#gameDisplayLayer3{
    
    border: solid 1px rgb(233, 9, 166);
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 2;
} 