
body{
    background-color: rgb(144,195, 216); /*this is the sea color*/
    font-family: Arial, Helvetica, sans-serif;

}

/* h2{
    margin: auto;
} */



#topPanel{
    height: 50px;
    width:1500px;
    margin: auto;
    background-color: white;

    display: flex;
    justify-content: space-between;
    /* border: solid 1px rgb(33, 36, 221); */
    border-radius: 10px;
    
    padding: 0px 10px 0px 10px;
}

#topPanel .playerInfo{
    width:200px;
    height:25px;
    border:1px solid #495057;
    text-align: center; 
    line-height: 22px;
    overflow:hidden;
    border-radius: 20px;
    color: black;
    margin-top: 20px;
    cursor: pointer;
    
    
}

/*============================================== Game Area ===================================*/

#gameArea{
    display: flex;
    width:1520px;
    margin: auto;
    justify-content:space-between;
    /* align-items: center;    */
    position: relative;   
    
}

/*==========hided pop up iFrame=============*/
#popUpFrame{
    position: absolute; 
    /* left: 40px;
    top: -45px; */
    z-index: 50;
    display: flex; 
    justify-items: center;   
       
}
#innerFrame{
    
    height: 640px;
    width:1400px;
    /* background-color: rgb(255, 255, 255); */
    border: solid 2px rgb(243, 0, 0);
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
    padding: 20px;
    
    
}
#loginPopUp{
    
    height: 250px;
    width:400px;
    /* background-color: rgb(255, 255, 255); */
    border: solid 2px rgb(243, 0, 0);
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    text-align: center;
    
    
}

#closeButtonArea{
    /* background-color: rgb(199, 15, 15); */
    
    display: flex;
    justify-content: end;
    height: 25px;

 
}

#closeButton{
    /* background-color: rgb(199, 15, 15); */
    /* justify-content:end;
    display: flex;
    justify-content: end; */

    /* border: none; */
    background-color: white;
    border-radius: 13px;
    width: fit-content;
    min-width: 25px;
    /* height: 10px;     */
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    
   
    
}

#closeButtonArea button{
    cursor: pointer;
   
   
    
}

#innerFrameContent{    
    height: 600px;
    width:1350px;  
    border: 0;    
    
}

/*==================game display ================*/

#leftControlPanel{
    height: 645px;
    width: 75px;
    
    display: flexbox;
    /* background-color: white; */
    border-radius: 10px;
    margin-right: -4px;
    margin-top: 10px;

}

#landEditButtonArea{
    height: 120px;
    width: 75px;
    /* border: solid 1px rgb(33, 36, 221); */
    display: flexbox;
    background-color: white;
    border-radius: 10px;
    margin-right: -4px;
    /* margin-top: 10px; */

}
#plantEditButtonArea{
    height: 515px;
    width: 75px;
    /* border: solid 1px rgb(33, 36, 221); */
    display: flexbox;
    background-color: white;
    border-radius: 10px;
    margin-right: -4px;
    margin-top: 10px;
    /* margin-top: 10px; */

}

#rightControlPanel{
    height: 645px;
    width: 75px;
    /* border: solid 1px rgb(50, 33, 202); */
    display: flexbox;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    
}


#gameContainer{
      
    height: 320px;  /* should match js ---->gameImagesAreaWidth*/
    width: 672px; /* should match js ---->gameImagesAreaWidth*/
    border: solid 2px rgb(228, 243, 13);
    margin: 10px ;
    border-radius: 10px;
    position: relative;     
    image-rendering: pixelated;     

    transform: scale(2) translateY(25%) ;
}

#gameDisplayLayer0{
    background-color: rgb(144,195, 216);
    /* border: solid 1px rgb(32, 233, 32); */
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 0;  
    border-radius: 10px;
    
}

#gameDisplayLayer10{
    
    /* border: solid 1px rgb(238, 238, 238); */
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 10;
    border-radius: 10px;
    
}

#gameDisplayLayer15{
    
    /* border: solid 1px rgb(238, 238, 238); */
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 15;
    border-radius: 10px;
    
}
#gameDisplayLayer16{
    
    /* border: solid 1px rgb(238, 238, 238); */
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 16;
    border-radius: 10px;
    
}

#gameDisplayLayer20{
    
    /* border: solid 1px rgb(233, 9, 166); */
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 20;
    border-radius: 10px;
    
} 

#gameDisplayLayer30{
    
   
    position: absolute; 
    left: ;
    top: 0;
    z-index: 30;
    border-radius: 10px;
    
} 

#gameDisplayLayer40{
    
    /* border: solid 1px rgb(228, 243, 13); */
    position: absolute; 
    left: 0;
    top: 0;
    z-index: 40;
    border-radius: 10px;
    
} 

#leftControlPanel button{
    min-height: 30px;
    width: 65px;
    margin: 10px 5px 5px 5px;   
    border-radius: 10px;
}

#rightControlPanel button{
    min-height: 65px;
    width: 65px;
    margin: 10px 5px 0px 5px;   
    border-radius: 10px;
    cursor: pointer;
}

#testImage{
    width: 40px;
}

/*============================================== Game Area End =================================*/


#bottomPanel{
    height: 80px;
    width:1500px;
    margin: auto;
    /* border: solid 1px rgb(67, 23, 224); */
    background-color: white;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}




