/* *{
    box-sizing: border-box;
} */

body{
    background-color: rgb(96, 160, 168);
}

.gameContainer{
    background-color: rgb(96, 160, 168);
    border: solid 1px rgb(200, 0, 0);
    height: 640px; 
    width: 1440px; 
    margin: 0 auto;

    /* transform: scale(2) translateY(25%); */
    image-rendering: pixelated;
}

